RewriteEngine On
RewriteBase /

# Block direct access to files in the pages directory, except for CSS files
RewriteCond %{REQUEST_URI} ^/(pages|model|img|dashboard|xampp|webalizer)/.*$
RewriteCond %{REQUEST_URI} !/pages/styles\.css$
RewriteCond %{REQUEST_URI} !/pages/home_css\.css$
RewriteRule ^(.*)$ - [F]
<Files "*.ico">
  Order Allow,Deny
  Deny from all
  Satisfy All
</Files>