@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    overflow-x: hidden;
}
/* css for header and footer */
header{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 10vh;
    background-color: #24252A;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    box-sizing: border-box;
    justify-content: flex-end;
}
footer{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: #24252A;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    justify-content: center;
}
header .logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    border: none;
    outline: none;
}
.nav{
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
}

.nav li{
    display: inline-block;
    padding: 0 1vw;
}
.nav li a{
    transition: all 0.3s ease 0s;
}
.nav li a:hover{
    color: #37a3fa; 
}
header button{
    /* width: 6vw; */
    cursor: pointer;
    padding: 9px 25px;
    background-color: #006ac0;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    
}
header button:hover{
    background-color: #37a3fa;
}
/* css for the body */
.formContainer {
    width: 100vw;
    background: #4FC3F7;
    position: relative;
    height: 90vh;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer .formWrapper {
    background-color: white;
    height: 550px;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* width: 90vw; */
    /* box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2); */
    /* box-sizing: border-box; */
}
.formContainer .formWrapper .logo {
    color: #050140;
    font-weight: bold;
    font-size: 30px;
    /* width: 300px; */
    /* text-align: center; */
}

.formContainer .formWrapper form {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.formContainer .formWrapper form input {
    padding: 15px;
    border: none;
    width: 300px;
    /* border-bottom: 1px solid #a7bcff; */
    border-bottom: 1px solid #2196F3 ;
}
.formContainer .formWrapper form input::placeholder {
  color: #afafaf;
}
.formContainer .formWrapper form .button, .formContainer .formWrapper form button {
    background-color: #2196F3 ;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.formContainer .formWrapper form .button:hover, .formContainer .formWrapper form button:hover {
    background-color: #1976D2 ;
}
.formContainer .formWrapper form button{
    width: 300px;
}
.formContainer .formWrapper form label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
}
#error1, #error2{
    display: none;
    color: red;
    position: relative;
    top: -15px;
    height: 0px;
}
#error3, #error4, #error5, #error6, #error7, #error8, #error9{
    display: none;
    color: red;
    position: relative;
    top: -15px;
    height: 0px;
}
/* this is the css for the find jobs page  */

.job_page {
    width: 100vw;
    background: #4FC3F7;
    /* background: #4FC3F7    ; */
    /* min-height: 1000px; */
    position: relative;
    height: 100vh;
    /* min-height: min-content; */
    /* overflow-y: auto; */
    /* height: 1000px; */
    /* height: 97vh; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* box-sizing: border-box; */
}
.job_page .search{
    position: relative;
    width: 60%;
    top: 5%;
    margin: 0 auto;
    /* justify-content: center; */
    display: flex;
}
.job_page .search input{
    position:relative;
    width: 100%;
    font-size: 25px;
    /* font-weight: bo; */
    height: 70px;
    padding: 0 25px 0 25px;
    border-radius: 15px;
}
.job_page .table{
    position: relative;
    background: white;
    border-radius: 25px 25px 25px 25px;
    width: 60%;
    top: 15%;
    /* height: 1000px; */
    margin: 0 auto;
    height: 70%;
    overflow-y: scroll;
    padding: 2vh 2vw;
}

.job_page .table::-webkit-scrollbar{
    display: none;
}

.job_page .table .table_element{
    position: relative;
    width: 100%;
    height: 22.5%;
    border-radius: 5px;
    background: #E0EDF2;
    margin-bottom: 2vh;
    border-left: 5px solid red;
    color: #050140;
    padding: 1% 2.5%;
}
.job_page .table .table_element .job_name{
    font-size: 200%;
    margin-bottom: 1vh;
}

/*Register Form CSS*/
.form-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #4FC3F7;
    position: relative;
}
.form-container form{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
    margin: 20px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2196F3;
}
.form-container form input,
.form-container form select{
    display:flex;
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    margin: 14px 0;
    background: #eee;
    border-radius: 5px;
}
.form-container form select option{
    background: #fff;
    position: relative;
    display:flex;
}
.form-container form .form-btn{
    background: #2196F3;
    color: #eee;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background:#1976D2;
    color: #eee;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}
.form-container form p a{
    color: #2196F3;
    font-size: 20px;
    margin-top: 10px;
}
.form-container .Company{
    display: block;
}
.form-container form .error-message{
    margin: 10px 0;
    display: block; 
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}


@media (max-width:650px) {
    header .logo{
        display: none;
    }
    header{
        /* background-color: red; */
        justify-content: space-between;
    }
    header .nav {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      header .nav li {
        display: inline-block;
        margin: 0;
        padding: 0 2vw;
      }
    header .nav::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
    .job_page .search, .job_page .table{
        width: 85%;
    }
    .job_page .table .table_element{
        padding: 0 5%;
    }
    .form-container form input,
    .form-container form select{
        font-size: 15px;
    }
}